<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112956681-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112956681-2');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7125816091691808",
    enable_page_level_ads: true
  });
</script>


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/material-kit.css?v=2.0.2">




</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll=100 id="sectionsNav">
    <a class="navbar-brand" href="/">AfrikaZiara </a>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            ☰
        </button>
    <div class="collapse navbar-collapse justify-content-xl-end " id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item alert alert-info" id="cardadd" {{#if noMessage}} hidden {{/if}}>
                {{ cartMsg }}
                    {{ successMsg }}
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        Cart
                        {{session.cart.totalQty}}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Preview">
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/signup">Sign up</a>
                    </div>
                </li>

            </ul>
        </div>


</nav>


<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/kit/34.jpg'); ">


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Your Story Starts With Us.</h1>
            </div>
        </div>
    </div>
</div>


<div class="main main-raised">

    <div class="card-group">
        <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">
                <a href="/relaxation">
                    <img class="img-fluid"
                         src="https://c.pxhere.com/photos/6c/9e/bali_beach_parasol_sand_sea_water_chair_nature-998940.jpg!d"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Relaxation</h4>
                <a href="/relaxation">
                    <button type="button" class="btn btn-primary btn-md">see more</button>
                </a>
            </div>
            <!--Card content-->
        </div>
        <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">
                <a href="/urban">
                    <img class="img-fluid"
                         src="https://www.urbanadventures.com/data/0/custom_10175/c-fakepath-webimage-fd725e94-e353-49ab-b3374c5fc4379612.png"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>
                </a>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Urban adventures</h4>
                    <a href="/urban">
                        <button type="button" class="btn btn-primary btn-md">see more</button>
                    </a>
                </div>
            </div>

        </div>
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <a href="/adventure">
                    <img class="img-fluid"
                         src="https://buzzbud.in/wp-content/uploads/2017/11/forclaz-hiking-backpack-50-l-light-grey-600x490.jpg"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Adventure junkies</h4>

                <a href="/adventure">
                    <button type="button" class="btn btn-primary btn-md">see more</button>
                </a>
            </div>
            <!--Card content-->

        </div>
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <a href="/extreeme">
                    <img class="img-fluid"
                         src="http://www.coupondunia.in/blog/wp-content/uploads/2013/12/Bungee_Jumping-1-1050x591.jpeg"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Extreme adventures</h4>

                <a href="/extreeme">
                    <button type="button" class="btn btn-primary btn-md">see more</button>
                </a>
            </div>
            <!--Card content-->

        </div>
        <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">
                <a href="/night">
                    <img class="img-fluid" src="http://beautifulindia.info/wp-content/uploads/2016/11/night-life.jpg"
                         alt="Card image cap">
                </a>
                <div class="mask rgba-white-slight"></div>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Night life</h4>
                <a href="night.html">
                    <a href="/night">
                        <button type="button" class="btn btn-primary btn-md">see more</button>
                    </a>
                </a>
            </div>
            <!--Card content-->
        </div>
    </div>

    <section class="text-center pb-3 my-5">

        <h3 class="h3">what we offer</h3>
        <div class="card-group">
            <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">

                    <img class="img-fluid"
                         src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAroAAAAJDNhODgzYWIxLWY1YWMtNDAzYi05MzcwLTNhNGRkYTkwMDIzMw.jpg"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>

            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Channel to tour operators</h4>

            </div>
            <!--Card content-->
        </div>
            <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">

                    <img class="img-fluid"
                         src="http://www.droiders.com/wp-content/uploads/concierge-1.jpg"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>

            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">concierge services</h4>


            </div>
            <!--Card content-->
        </div>
            <div class="card mb-4">
            <!--Card image-->
            <div class="view overlay">

                    <img class="img-fluid"
                         src="https://almostneverclever.files.wordpress.com/2010/12/travel-journal-1.jpg"
                         alt="Card image cap">

                    <div class="mask rgba-white-slight"></div>

            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Travel challenges</h4>

            </div>
            <!--Card content-->
        </div>



    </div>

        <h3 class="h3">Places of interest</h3>

        <main>
            <!--Main layout-->
            <div class="container">
                {{# each ofinterest}}
                    <!--First row-->
                    <div class="row mt-5 wow">
                        <!--First column-->
                        {{# each this}}
                            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                                <!--Card-->
                                <div class="card mb-r">

                                    <!--Card image-->
                                    <img class="img-fluid" src="{{ this.imagePath}}" alt="Card image cap">

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title dark-grey-text"><strong>{{ this.title}}</strong></h4>
                                        <!--Text-->

                                        <p class="card-text">{{ this.description}}</p>
                                        <a class="text">${{ this.price}}</a>
                                        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary btn-md pull-right">Book</a>
                                    </div>

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--/.First column-->
                        {{/each}}
                    </div>
                    <!--/.First row-->
                {{/each}}
            </div>


        </main>

        <h3 class="h3">tour operators</h3>

        <main>
            <!--Main layout-->
            <div class="container">

                    <div class="row mt-5 wow">
                        <!--First column-->
                        <div class="col-md-2 col-xs-4">
                            <a  class="thumbnail"><img src="https://image.jimcdn.com/app/cms/image/transf/dimension=201x10000:format=png/path/sf417ecd4d9680a2d/image/ia8ce15f96c6649ed/version/1490911930/image.png"  style="height:80px;"></a></div>
                        <div class="col-md-2 col-xs-4"><a  class="thumbnail"><img src="https://pbs.twimg.com/profile_images/461452921469558785/_licFNcn_400x400.png"  style="height:80px;"></a></div>
                        <div class="col-md-2 col-xs-4"><a  class="thumbnail"><img src="http://ashantiafricantours.com/wp-content/uploads/2016/07/logo.png"  style="height:80px;"></a></div>
                        <div class="col-md-2 col-xs-4"><a  class="thumbnail"><img src="http://www.sunseekerstours.com/wordpress/wp-content/uploads/2015/10/rsz_1logo_e.png"  style="height:80px;"></a></div>
                        <div class="col-md-2 col-xs-4"><a  class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/5.jpg"  style="height:80px;"></a></div>
                        <div class="col-md-2 col-xs-4">
                            <a  class="thumbnail">
                                <img src="https://tmaxtech.co.th/images/Partner/6.jpg"  style="height:80px;">
                        </a></div>
                    </div>
                    <!--/.First row-->

            </div>


        </main>

        <br><br><br><br>

        <h2></h2>

    </section>
    <br>


</div>


</body>

</html>
