<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/kit/free/apple-icon.png">
    <link rel="icon" href="assets/img/kit/free/favicon.png">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="assets/css/material-kit.css?v=2.0.2">

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg  navbar-dark scrolling-navbar" color-on-scroll=100 id="sectionsNav">
        <div class="container ">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/">AfrikaZiara </a>
            </div>
            <div class="collapse navbar-collapse justify-content-xl-end " id="navbarNavDropdown" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <i class="fab fa-opencart"></i> Cart</a>
                    </li>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/login">login</a>
                            <a class="dropdown-item" href="/signup">sign up</a>
                        </div>
                    </div>

                </ul>
            </div>

        </div>
    </nav>


    <div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/kit/culture.jpg'); ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Your Story Starts With Us.</h1>
                    <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here.
                        Add here all the information that can make you or your product create the first impression.</h4>
                    <br>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="card-group">
            <div class="card mb-4">
                        <!--Card image-->
                        <div class="view overlay">
                            <img class="img-fluid" src="https://c.pxhere.com/photos/6c/9e/bali_beach_parasol_sand_sea_water_chair_nature-998940.jpg!d" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
        </div>
                        <!--Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Relaxation</h4>
                            <button type="button" class="btn btn-primary btn-md">Read more</button>
                        </div>
                        <!--Card content-->
                    </div>
            <div class="card mb-4">
                        <!--Card image-->
                        <div class="view overlay">
                            <a href="urban.html">
                            <img class="img-fluid" src="https://www.urbanadventures.com/data/0/custom_10175/c-fakepath-webimage-fd725e94-e353-49ab-b3374c5fc4379612.png" alt="Card image cap">

                                <div class="mask rgba-white-slight"></div>
                            </a>
                            <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Urban adventures</h4>
                                <a href="urban.html">
                            <button type="button" class="btn btn-primary btn-md">Read more</button>
                                </a>
                        </div>
                        </div>

                    </div>
            <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <a href="adventure.html">
            <img class="img-fluid" src="https://buzzbud.in/wp-content/uploads/2017/11/forclaz-hiking-backpack-50-l-light-grey-600x490.jpg" alt="Card image cap">

                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Adventure junkies</h4>

            <a href="adventure.html">
            <button type="button" class="btn btn-primary btn-md">Read more</button>
            </a>
        </div>
        <!--Card content-->

    </div>
            <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="img-fluid" src="http://www.coupondunia.in/blog/wp-content/uploads/2013/12/Bungee_Jumping-1-1050x591.jpeg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Extreme adventures</h4>

            <button type="button" class="btn btn-primary btn-md">Read more</button>
        </div>
        <!--Card content-->

    </div>
            <div class="card mb-4">
                        <!--Card image-->
                        <div class="view overlay">
                            <a href="night.html">
                                <img class="img-fluid" src="http://beautifulindia.info/wp-content/uploads/2016/11/night-life.jpg" alt="Card image cap">
                            </a>
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        <!--Card image-->
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Night life</h4>
                            <a href="night.html">
                            <button type="button" class="btn btn-primary btn-md">Read more</button>
                            </a>
                        </div>
                        <!--Card content-->
                    </div>



        </div>
        <section class="text-center pb-3 my-5">
            <!--Section heading-->
            <h1 class="h1">Our bestsellers</h1>
             <main>
        <!--Main layout-->
        <div class="container">



            <!--First row-->
            <div class="row mt-5 wow">
                <!--First column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[0].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[0].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[0].description %><%}%>.</p>
                            <a class="pull-left">$<% {%><%= product[0].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.4s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[1].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[1].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[1].description %><%}%></p>
                            <a class="pull-left">$<% {%><%= product[1].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.6s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[2].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[2].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[2].description %><%}%></p>
                            <a class="pull-left">$<% {%><%= product[2].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.Third column-->
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row mt-3">

                <!--First column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[3].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[3].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[3].description %><%}%></p>
                            <a class="pull-left">$<% {%><%= product[3].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.4s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[4].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[4].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[4].description %><%}%></p>
                            <a class="pull-left">$<% {%><%= product[4].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Second column-->

                <!--Third column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.6s">

                    <!--Card-->
                    <div class="card mb-r">

                        <!--Card image-->
                        <img class="img-fluid" src="<% {%><%= product[5].imagePath %><%}%>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title dark-grey-text"><strong><% {%><%= product[5].title %><%}%></strong></h4>
                            <!--Text-->
                            <p class="card-text"><% {%><%= product[5].description %><%}%></p>
                            <a class="pull-left">$<% {%><%= product[5].price %><%}%></a>
                            <a href="#" class="btn btn-primary btn-md pull-right">Book</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--/.Third column-->
            </div>
            <!--/.Second row-->

            <hr>

            <!--Pagination-->

            <!--/.Pagination-->
        </div>
        <!--/.Main layout-->
    </main>
        </section>
        <!--Section description-->
    </div>




<script type="text/javascript" src="3/js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="3/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="3/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="3/js/mdb.min.js"></script>

    <script>
        new WOW().init();
    </script>

</body>

</html>
